.o_chef{
    margin-top: 48px;

    .container_chef{
        padding: 24px 15px 0;
        width: 100%;
        margin: 0 auto;

        @media (max-width: 767px) { 
            max-width: 420px;
        }
    
        @media (min-width: 768px) and (max-width: 1023px) { 
            max-width: 680px;
        }
    
        @media (min-width: 1024px) { 
            max-width: 1200px;
        }

        .row_chef{
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .col-8_chef{
                width: 60%;
                padding-right: 20px;

                @media (max-width:1023px){
                    width: 100%;
                    margin-bottom: 20px;
                }
    
                .title_chef{
                    font-size: 45px;
                    line-height: 55px;
                    font-weight: bold;
                    margin-bottom: 24px;
    
                    span{
                        color: var(--primary-color);
                        font-weight: 600;
                    }
                }
    
                .des_chef{
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    line-height: 28px;
                    color: var(--heading-color);
                    font-family: 'Open Sans', sans-serif;
                }

                .btn_chef{
                    margin-top: 48px;
                    padding: 12px 36px 14px;
                    font-size: 16px;
                    color: #fff;
                    border-radius: var(--border-radius-full);
                    font-weight: bold;
                    outline: none;
                    border: none;
                    background: var(--primary-color);
                    transition: all 1.8s ease-in-out;
                    display: inline-block;

                    &:hover{
                        background-color: var(--secondary-color);
                    }
                }
            }
    
            .col-4_chef{
                width: 40%;
                padding-left: 20px;
                margin-bottom: -4px;

                @media (max-width:1023px){
                    width: 100%;
                }
            }
        }
    }
}