.feeling {
    background: var(--gradient-animation);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    max-height: calc(100vh - 90px);
    overflow: hidden;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--banner-layer);
        z-index: -1;
        top: 0;
    }
}

.py {
    padding-top: 20px;
    padding-bottom: 58px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container_feeling {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 767px) { 
        max-width: 420px;
    }

    @media (min-width: 768px) and (max-width: 1023px) { 
        max-width: 680px;
    }

    @media (min-width: 1024px) { 
        max-width: 1200px;
    }
    
    
    .row_feeling {
        padding-top: 38px;
        position: relative;
        overflow: hidden;
        height: 400px;
    
        .slide-item {
            position: absolute;
            width: calc(50% - 10px);
            transition: all 0.5s ease;

            @media (max-width: 1023px) {
                width: 100%;
                left: 0 !important; 

                &.next, &.incoming {
                    display: none; 
                }
            }
            
            &.current {
                left: 0;
                transform: translateX(0);
            }
            
            &.next {
                left: calc(50% + 10px);
                transform: translateX(0);
            }
    
            &.incoming {
                left: calc(100% + 20px);
                transform: translateX(0);
            }
            
            &.sliding {
                &.current {
                    transform: translateX(-100%);
                    opacity: 0;
                }
                
                &.next {
                    transform: translateX(-100%);
                }
    
                &.incoming {
                    transform: translateX(-100%);
                }
            }
        }

        .title_feeling {
            font-size: 22px;
            line-height: 32px;
            color: var(--heading-color);
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            margin-bottom: 16px;
        }

        .des_feeling {
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 28px;
            color: var(--heading-color);
            font-family: 'Open Sans', sans-serif;
            width: 90%;
            height: 120px;
        }

        .name_feeling {
            margin: 24px 0 0 0;
            font-weight: 600;
            font-size: 20px;
            color: var(--heading-color);
        }

        ul {
            display: flex;
            align-items: center;

            li {
                margin-right: 4px;

                .star_feeling {
                    color: var(--primary-color);
                }
            }
        }

        .img_feeling {
            width: 70px;
            height: 70px;
            overflow: hidden;
            border-radius: 50%;
            display: block;
            margin-top: 16px;
        }
    }

    .dot_feeling {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;

        .dot {
            width: 12px;
            height: 12px;
            margin: 5px;
            background: #aaa;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity .2s ease;
            position: relative;
            opacity: 0.9;
            border-radius: 50%;
            
            &.active {
                background-color: var(--primary-color);
            }
        }
    }
}

.py-1 {
    padding-top: 24px;
    padding-bottom: 24px;
}