.Our_Spe{
    margin-top: 16px;
    padding: 48px 0;

    .container_spe{
        padding: 48px 15px ;
        margin: 0 auto;
        width: 100%;
        @media (max-width: 767px) { 
            max-width: 420px;
        }
    
        @media (min-width: 768px) and (max-width: 1023px) { 
            max-width: 680px;
        }
    
        @media (min-width: 1024px) { 
            max-width: 1200px;
        }

        .title_spe{
            font-size: 45px;
            line-height: 55px;
            font-weight: bold;
            margin-bottom: 48px;
            text-align: center;
        }

        .row_spe{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 24px;

            @media (max-width:767px){
                grid-template-columns: repeat(2,1fr);
            }

            .col_spe{

                &:hover img{
                        transform: scale(1.1);
                        transition: transform 0.3s linear;
                        border-radius: var(--border-radius);
                }

                &:hover .name_chef{
                        color: var(--secondary-color);
                }

                .ov-img{
                    overflow: hidden;
                    border-radius: var(--border-radius);
                }
                

                img{
                    object-fit: cover;
                    max-width: 100%;
                    height: auto;
                    display: block;
                    transition: transform 0.3s linear;
                    border-radius: var(--border-radius);

                }

                .name_chef{
                    margin-top: 15px;
                    font-size: 22px;
                    color: var(--heading-color);
                    font-weight: 600;
                    transition: 0.3s ease-in;
                    text-align: center;
                }

                .po_chef{
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    line-height: 28px;
                    color: var(--heading-color);
                    font-family: 'Open Sans', sans-serif;
                    text-align: center;
                }

                .icon_spe{
                    text-align: center;
                    margin-top: 6px;

                    .ic_spe{
                        font-size: 16px;
                        text-align: center;
                        display: inline-block;
                        margin: 0 6px;

                        &:hover{
                            color: var(--secondary-color);
                            transition: all .8s ease;
                        }
                    }
                }
            }
        }
    }
}